@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300i,400i,600,600i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Cormorant:300,300i,400,400i,600,600i,700,700i);

$base-font-size: 18px;
$themes: (
  light: (
    color: (
      background: #f7f7ff,
      color:      #344055,
      highlight:  #266dd3,
      accent:     #42e6ff,
      important:  #dd7373,
      black:      #000000,
      white:      #ffffff,
    ),
    font: (
      family: (
        serif: "Cormorant",
        sans: "Roboto",
      ),
      size: (
        fine:   0.50em,
        small:  0.75em,
        medium: 1.00em,
        large:  1.50em,
        huge:   2.00em,
      ),
      weight: (
        light: 300,
        normal: 400,
        semi-bold: 600,
        bold: 700,
      ),
    ),
  ),
  dark: (
    color: (
      background: #261c15,
      color:      #f7f7f2,
      highlight:  #b80c09,
      accent:     #586f1c,
      important:  #d5a021,
      black:      #ffffff,
      white:      #000000,
    ),
    font: (
      family: (
        serif: "Cormorant",
        sans: "Roboto",
      ),
      size: (
        fine:   0.50em,
        small:  0.75em,
        medium: 1.00em,
        large:  1.50em,
        huge:   2.00em,
      ),
      weight: (
        light: 300,
        normal: 400,
        semi-bold: 600,
        bold: 700,
      ),
    ),
  ),
);
