.list-canvas {
  &, & canvas {
    position: relative;
  }

  canvas {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    transform: rotateX(180deg);
  }
}
.list-visualization {
  section {
    div:first-child {
      background-color: var(--clr-accent);
      color: var(--clr-color);
      font-weight: var(--font-weight-bold);
      margin-right: 10px;
      padding: 5px;
    }

    div:last-child {
      margin: 2px 0;
      padding: 5px 0;
      text-align: center;
    }
  }
}
