@import '../css/mixins';

.sort-detail {
  heading {
    text-transform: capitalize;
    text-align: center;
  }

  code, dl {
    margin: 0 16px 0 0;
  }

  dl {
    dt {
      background-color: var(--clr-accent);
      color: var(--clr-color);
      float: left;
      font-weight: var(--font-weight-bold);
      margin-right: 10px;
      padding: 5px;
      width: 50%;
    }

    dd {
      margin: 2px 0;
      padding: 5px 0;
    }
  }

  .list-view {
    height: auto;
  }
}
