@import "../css/mixins";

.sort-detail {
  flex: 1 1 800px;

  heading {
    text-transform: capitalize;
    text-align: center;
    font-size: var(--font-size-large);
  }

  code, dl {
    margin: 0 16px 0 0;
  }

  .list-view {
    height: auto;
  }
}
