.tab-container {
  margin: 1rem;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  > article {
    padding: .5rem;
    border-top: 1px solid var(--clr-accent);
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: var(--font-bold);
    text-align: center;
    color: var(--clr-color);
    border: 1px solid transparent;
    text-transform: capitalize;

    &:before {
      margin-right: 10px;
    }
  }


  label[for]:before { content: '☖'; }

  label:hover {
    color: var(--clr-highlight);
    cursor: pointer;
  }

  input:checked + label {
    color: var(--clr-important);
    border: 1px solid var(--clr-accent);
    border-top-width: 2px;

    &:before { content: '☗'; }
  }
}
