@import "css-variables";
@import "mixins";

* {
  box-sizing: border-box;
  position: relative;
}

html {
  padding: 0;
  font-size: 16px;

  &, & body {
    margin: 0;
    width: 100%;
  }

  body {
    padding: .25rem;
    background-color: var(--clr-background);
    color: var(--clr-color);
    font-family: var(--font-serif), sans-serif;
    line-height: 1.2;
  }
}
a {
  &, &:active, &:visited, &:hover, &focus {
    text-decoration: none;
    color: var(--clr-highlight);
  }
}


@for $i from 1 through 6 {
  h#{$i} {
    margin-top: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 0;
    line-height: 1.5;
  }
}

.flex {
  &Row, &Col {
    @extend %flexbox;
    @include align-content(stretch);
    .no- {
      &grow { @include flex-grow(0); }
      &shrink { @include flex-shrink(0); }
    }
  }
  &Row {
    @include justify-content(center);
    margin-bottom: .5rem;
    > * {
      @include flex-grow(1);
      @include flex-shrink(1);
    }
    &[left] {
      @include justify-content(flex-start);
    }
    &[right] {
      @include justify-content(flex-end);
    }

  }
  &Col {
    @include justify-content(flex-start);
    @include flex-direction(column);
    &[center] {
      @include align-items(center);
    }
    &[right] {
      @include align-items(flex-end);
    }
    > *:only-child {
      @include flex-grow(1);
      @include flex-shrink(1);
    }
    &:not(:only-child) {
      padding: 0 .5rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.card {
  display: block;
  margin: 0 .5rem;
  padding: .5rem;
  border-radius: 4px;
  background-color: var(--clr-white);
  box-shadow: 0 0 2px 0 var(--clr-black) inset;

  &[center] {
    text-align: center;
  }
  &[right] {
    text-align: right;
  }
}

/*

Flex {
  &Row, &Col {
    @extend %flexbox;
    @include align-items(stretch);
  }
  &Row {
    @include justify-content(center);
    margin-bottom: .5rem;
    > * {
      @include flex-grow(1);
      @include flex-shrink(1);
    }
    &[left] {
      @include justify-content(flex-start);
    }
    &[right] {
      @include justify-content(flex-end);
    }

  }
  &Col {
    @include justify-content(flex-start);
    @include flex-direction(column);
    &[center] {
      @include align-items(center);
    }
    &[right] {
      @include align-items(flex-end);
    }
    > *:only-child {
      @include flex-grow(1);
      @include flex-shrink(1);
    }
    &:not(:only-child) {
      padding: 0 .5rem;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

Card {
  display: block;
  margin: 0 .5rem;
  padding: .5rem;
  border-radius: 4px;
  &[center] {
    text-align: center;
  }
  &[right] {
    text-align: right;
  }
}

Deck {
  @extend FlexRow;
  @include flex-wrap(wrap);

  > Card {
    @include flex-grow(0);
    @include flex-shrink(0);
    width: 19%;
    min-width: 350px;
    margin-left: 0;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
}

Styleguide {
  display: block;
  @extend %clear-both;

  i {
    font-style: normal;
  }

  .box {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid black;
  }
}

*/
